.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  border: red solid;
  align-items: center;
}

.container-filho {
  width: 100px;
  height: 100px;
  border: 2px dotted red ;
  margin: 5px;
}

.container-filho:nth-child(1) {
  background-color: #ffa07a;
}

.container-filho:nth-child(2) {
  background-color: #98fb98;
}

.container-filho:nth-child(3) {
  background-color: #87ceeb;
}

.container-filho:nth-child(4) {
  background-color: #e9967a;
}

.container-filho:nth-child(5) {
  background-color: #da70d6;
}
