.container {
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: 30px 130px 30px ;
    grid-template-areas: 
    "header header"
    "nav content"
    "nav footer" ;




}

.navegacao {
    background-color: orange;
    grid-area:nav;

}

.header {
    background-color: green;
    grid-area:header;

}

.content {
    background-color: aqua;
    grid-area: content;
}





.footer {

    background-color: yellow;
    grid-area: footer;

}
